body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transform: scale(1.2);
    transform-origin: center;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container, .registration-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

@media (max-width: 600px) {
    .registration-form, .login-container {
        width: 100%;
        padding: 20px;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 20px;
}

.login-container p {
    text-align: center;
}

.registration-form h3 {
    text-align: left;
    margin-bottom: 10px;
}

.registration-form p {
    margin-top: 3px;
    margin-bottom: 5px;
}

.login-btn, button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

button:hover, .login-btn:hover {
    background-color: #0056b3;
}

.form-group {
    margin-bottom: 20px; /* 간격을 더 넓혔습니다 */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px; /* 텍스트 입력 박스 크기 증가 */
    resize: vertical;
}

.required {
    color: red;
    font-weight: bold;
}
