<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>헤더 정보</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="all-headers-container">
  <h2>전체 헤더 정보</h2>
  <table>
    <thead>
    <tr>
      <th>키</th>
      <th>값</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="header : ${headers}">
      <td th:text="${header.key}"></td>
      <td th:text="${header.value}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
