<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클라이언트 IP 확인</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="headers-container">
    <h2>클라이언트 IP 확인</h2>
    <p><strong>getRemoteAddr(): </strong> <span th:text="${remoteAddr}"></span></p>
    <p>
        <strong>getHeader("X-Forwarded-For"): </strong>
        <span th:text="${xForwardedFor != null ? xForwardedFor : 'null'}"></span>
    </p>
    <p><strong>getRemoteHost(): </strong> <span th:text="${remoteHost}"></span></p>
    <p><strong>getRemotePort(): </strong> <span th:text="${remotePort}"></span></p>
    <p><strong>getRequestUrl(): </strong> <span th:text="${requestUrl}"></span></p>
</div>
</body>
</html>
