<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headers Information</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="login-container">
    <h1>Headers Information</h1>
    <h3>Request Details</h3>
    <p><strong>Protocol:</strong> <span th:text="${protocol}"></span></p>
    <p><strong>RemotePort:</strong> <span th:text="${remotePort}"></span></p>
    <p><strong>ServerPort:</strong> <span th:text="${serverPort}"></span></p>
    <p><strong>Remote Host:</strong> <span th:text="${remoteHost}"></span></p>
    <p><strong>Request URI:</strong> <span th:text="${requestUrl}"></span></p>
    <p><strong>Remote Address:</strong> <span th:text="${remoteAddr}"></span></p>
</div>
</body>
</html>
