<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headers Information</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="headers-container">
    <h1>Headers Information</h1>
    <h3>Request Details</h3>
    <p><strong>Remote Address:</strong> <span th:text="${remoteAddr}"></span></p>
    <p>
        <strong>X-Forwarded-For:</strong>
        <span th:text="${xForwardedFor != null ? xForwardedFor : 'null'}"></span>
    </p>
</div>
</body>
</html>
